* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  background-color: #414f6b;
  margin: 0px;
}

.hero {
  aspect-ratio: 16/9;
  background-image: url("/assets/hero-bgr.png");
  background-size: cover;
  background-position: 0px 0px;
}

.history {
  aspect-ratio: 16/9;
  background-image: url("/assets/history-bgr.png");
  background-size: cover;
  background-position: 0px -62px;
  position: relative;
  padding-top: 10px;
  justify-content: space-between;
}

.team {
  overflow: hidden;
}

.title {
  font-family: "Oswald", sans-serif;
  padding: 0px 20%;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.number {
  font-size: 135px;
  font-weight: 500;
  color: #6d7d99e0;
}

.section-name {
  font-size: 32px;
  font-weight: 500;
  color: #414f6b;
  position: relative;
  align-self: center;
  margin-left: -22px;
  margin-bottom: -34px;
}

.description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}

#history .description {
  margin: 0 24%;
  top: -30px;
}

.carousel-container {
  width: 100%;
  height: 22%;
  background-color: #414f6be1;
  display: flex;
}

.carousel {
  /* background-color: blueviolet; */
  width: 100%;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0px 24px;
  box-sizing: border-box;
}

.thumbnails-container {
  /* background-color: bisque; */
  width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.tngroup {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  scroll-snap-align: start;
}

.thumbnails-container::-webkit-scrollbar {
  display: none;
}

.tngroup img {
  max-width: 25%;
  object-fit: cover;
  padding: 0 2px;
}

.circle-nav {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.circle-nav > a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 75%;
  transition: opacity ease 0.2s;
}

.active-group {
  padding: 4px;
  opacity: 100%;
}

.team-header {
  background-color: white;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0 22%;
}

.team .title {
  padding: 0;
  margin-right: 32px;
}

.nav-container {
  background-color: #414f6b;
  height: 40px;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-nav {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #b0b4be;
  text-decoration: none;
  height: 100%;
  max-height: 100%;
  padding: 4px 21px 0px;
  cursor: pointer;
}

.tab-nav:hover {
  color: #414f6b;
  background-color: #b0b4be;
  text-decoration: underline;
}

.content-container {
  height: 546px;
}

#content1 {
  background-image: url("/assets/tab1-bgr.png");
  background-position: bottom center;
  background-size: cover;
}

#content2 {
  background-image: url("/assets/tab2-bgr.png");
  background-position: center center;
  background-size: cover;
}

.content {
  height: 546px;
}

.schedule-container {
  background-color: rgba(255, 255, 255, 0.794);
  width: fit-content;
  height: fit-content;
  padding: 22px 40px;
  position: relative;
  top: 100px;
  left: calc(20% + 30px);
}

.schedule-container > h1 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #414f6b;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table p {
  margin: 2px 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.separator {
  margin: 20px 0;
}

.content-container > * {
  display: none;
}

/* select first .content */
.content-container > .content ~ .content {
  display: flex;
}

.tab-nav.active {
  color: #414f6b;
  background-color: #b0b4be;
  text-decoration: underline;
}

.footer {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  position: relative;
}

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #63769d;
}

.footer p {
  margin: 0;
}

.footer .logo-brand-container {
  background-color: #414f6b;
}

/* mobile */
.tab-header {
  background-color: #6d7d99e0;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  padding: 0 1rem;
}

.tab-name {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: whitesmoke;
}

/* section title text */
@media screen and (width < 768px) {
  .number {
    font-size: 2rem;
  }

  .section-name {
    font-size: 1rem;
    margin-left: -6px;
    margin-bottom: 0;
  }

  #history .description {
    top: 0px;
  }

  .description {
    font-size: 0.8rem;
  }
}

@media screen and (768px <=width <=991px) {
  .number {
    font-size: 4rem;
  }

  .section-name {
    font-size: 1.3rem;
    margin-left: -12px;
    margin-bottom: -0.5rem;
  }

  #history .description {
    top: -10px;
  }
}

@media screen and (992px <= width <=1199px) {
  .number {
    font-size: 7rem;
  }

  .section-name {
    font-size: 1.5rem;
    margin-left: -1.2rem;
    margin-bottom: -1.5rem;
  }

  #history .description {
    top: -20px;
  }
}

/* container position, size */
@media screen and (width <=1199px) {
  .title {
    padding: 0 10%;
  }

  #history .description {
    margin: 0 15%;
  }

  .team-header {
    padding: 0 10%;
  }
}

@media screen and (width < 922px) {
  #history .description {
    margin: 0 12%;
    background-color: rgba(255, 255, 255, 0.88);
    padding: 4px;
    border-radius: 0.5rem;
  }
}

@media screen and (width < 768px) {
  .history {
    padding-top: 0;
  }

  .title {
    padding: 0 10px;
  }

  #history .description {
    margin: 10px 10% 50px;
  }

  .carousel-container {
    height: max-content;
  }

  .carousel {
    margin: 10px 10px;
    height: max-content;
  }

  .tngroup img {
    max-width: 50%;
  }

  /* team */

  .team-header {
    padding: 0 10px;
    height: max-content;
  }

  .team .title {
    margin-right: 16px;
  }

  .nav-container {
    display: none;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .content-container > * {
    display: flex;
  }

  .content {
    display: none;
    justify-content: center !important;
  }

  .schedule-container {
    position: static;
    margin: 4rem 0 4rem;
    padding: 0.5rem 1rem;
  }

  .expand-button {
    color: white;
  }

  .footer {
    padding: 0 1rem;
  }

  .copyright {
    font-size: 0.6rem;
    text-align: end;
  }

  .footer img {
    height: 2rem;
  }
}
